[Unit]
Description=webapp
ConditionPathExists=/home/csye6225/webapp/target/webapp-0.0.1-SNAPSHOT.jar
After=network.target

[Service]
Type=simple
User=csye6225
Group=csye6225
WorkingDirectory=/home/csye6225/webapp
ExecStart=java -jar /home/csye6225/webapp/target/webapp-0.0.1-SNAPSHOT.jar
Restart=always
RestartSec=3s
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=csye6225

[Install]
WantedBy=multi-user.target